.sign-in{
    width: 380px;
    display: flex;
    flex-direction: column;
    .title{
        margin: 10px 0;
    }
    .buttons{
        display: flex;
        justify-content: space-between;
    }
    .error{
        color: red;
        font-size: 1.1rem;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 1000px) {
    .sign-in{

        margin: 0 auto 50px auto;
  }
}