.sign-up{
    display: flex;
    flex-direction: column;
    width: 380px;

    .title{
        margin: 10px 0;
    }
}

@media screen and (max-width: 1000px) {
    .sign-up{

        margin: 0 auto;
  }
}