.adminContent{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.contentItem{
     width: 40%;
}
.aboutHotelItems{
    margin-top: 70px;
    text-align: center;
    border: 1px solid black;

}
.aboutHotelItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    font-size: 1.6rem;
}
.aboutHotelItem span{
    width: 40%;
}
.white{
    background-color: white;
}
.green{
    background-color:aquamarine ;
}
.blue{
    background-color:cornflowerblue ;
}
.yellow{
    background-color:coral ;
}
table{
    text-align: center;
    border: 1px solid black;
}
.red{
    background-color: red;
}
/* tr,th,td{
    border: 1px solid black;
} */