.adminContent{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.contentItem{
    margin-top: 50px;
     width: 40%;
}
.aboutHotelItems{
    margin-top: 70px;
    text-align: center;
    border: 1px solid black;

}
tr{
    cursor: pointer;
}
.aboutHotelItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    font-size: 1.6rem;
}
.aboutHotelItem span{
    width: 40%;
}
.white{
    background-color: white;
}
.green{
    background-color:aquamarine ;
}
.blue{
    background-color:cornflowerblue ;
}
.yellow{
    background-color:coral ;
}
table{
    margin: 0 auto;
    text-align: center;
    border: 1px solid black;
}
.red{
    background-color: red;
}

@media screen and (max-width: 1000px) {
    .contentItem{
        margin: 50px auto 0 auto;
         width: 90%;
    }
    
  }