.collectionItem {
        width: 22%;
        display: block;
        flex-direction: column;
        height: 350px;
        align-items: center;
        position: relative;
        margin: 0px 16px 30px 16px;
        .image {
          width: 100%;
          height: 95%;
          background-size: cover;
          background-position: center;
          margin-bottom: 5px;
        }
        &:hover{
          .image{
            opacity: .8;
          }
        }
      
      }
// @media screen and (max-width: 1000px) {

//         .collectionItem {
//           width: 70%;
//         }
//       }
  
