.collectionPage {
    display: flex;
    width: 100%;
    // justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 150px;

    .loremText{
      font-size: 1.3em;
      margin-bottom: 20px;
      text-align: center;
    }
      .roomInfo{
        display: flex;
        width: 100%;
        justify-content: space-around;
        .roomItem{
          width: 40%;
          
          .aboutItems{
            border: 1px solid black;  
          display: flex;
          height: 100%;
          flex-direction: column;

            .aboutItem{
              font-size: 1.5em;
              margin: auto 0;
              display: flex;
              justify-content: space-around;
              .aboutText{
                width: 60%;
              }
              .rented{
                width: 50%;
                text-align: center;
              }
              .aboutInfo{
                text-align: center;
                width: 30%;
              }
            }
            .aboutItem:first-child{
              margin-top: 30px;
            }
            .aboutItem:last-child{
              margin-bottom: 30px;
            }
          }
        }
      
      }
      

      & .collectionItem {
        margin-bottom: 30px;
      }
}

@media screen and (max-width: 850px) {
  .collectionPage{
    .roomInfo {
      display: block;
      .roomItem{
        width: 90%;
        margin-bottom: 90px;
      }
    }
  }
}