.ThreeRooms{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.btnContainer{
    width: 100%;
}
.btnContainer button{
    margin: 0 auto;
}
.roomImages{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
h2{
    text-align: center;
}
.imageContainer{
    width: 100%;
    height: 300px;
}
.imageContainer img{
    display: block;
    max-width: 300px;
    margin: 0 auto;
    cursor: pointer;
}
.error{
    text-align: center;
    font-size: 24px;
    
}
.waitRentedDay{
    text-align: center;
    font-size: 1.6rem;
}
.btnContainer{
    margin: 100px auto 0 auto;
    text-align: center;
}
.payForm{
    display: flex;
    flex-direction: column;
    width: 380px;
    margin: 0 auto;
}

    .title{
        margin: 10px 0;
    }
.aboutRoomItems{
    width: 90%;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
    font-size: 1.3rem;
}
@media screen and (max-width: 850px) {
    .aboutRoomItems{
        display: block;

    }
    .roomImages{
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
    }
}
@media screen and (max-width: 600px) {
    
    .imageContainer img{
        max-width: 150px;
    }
    .btnContainer{
        margin-top: 0px;
    }
}